<html lang='en'>
  <head>
    <meta charset='UTF-8' />
  </head>
  <body>
    <div>
      <table dir='ltr'>
        <tbody>
          <tr>
            <td
              style="padding:0;font-family:'Segoe UI Semibold','Segoe UI Bold','Segoe UI','Helvetica Neue Medium',Arial,sans-serif;font-size:17px;color:#707070"
            >
              ToolBox Account
            </td>
          </tr>
          <tr>
            <td
              style="padding:0;font-family:'Segoe UI Light','Segoe UI','Helvetica Neue Medium',Arial,sans-serif;font-size:41px;color:#2672ec"
            >
              Confirm Your Email Address
            </td>
          </tr>
          <tr>
            <td
              style="padding:0;padding-top:25px;font-family:'Segoe UI',Tahoma,Verdana,Arial,sans-serif;font-size:14px;color:#2a2a2a"
            >
              Hello
              {{name}}! We have received a request to confirm your email
              address. To ensure this email address belongs to you, we need your
              confirmation.
            </td>
          </tr>
          <tr>
            <td
              style="padding:0;padding-top:25px;font-family:'Segoe UI',Tahoma,Verdana,Arial,sans-serif;font-size:14px;color:#2a2a2a"
            >
              Use the following security code to confirm your email address:
              <span
                style="font-family:'Segoe UI Bold','Segoe UI Semibold','Segoe UI','Helvetica Neue Medium',Arial,sans-serif;font-size:14px;font-weight:bold;color:#2a2a2a"
              >
                {{code}}
              </span>
            </td>
          </tr>
          <tr>
            <td
              style="padding:0;padding-top:25px;font-family:'Segoe UI',Tahoma,Verdana,Arial,sans-serif;font-size:14px;color:#2a2a2a"
            >
              If you did not request this code, you can ignore this email, as
              your email address may have been entered by mistake by someone
              else.
            </td>
          </tr>
          <tr>
            <td
              style="padding:0;padding-top:25px;font-family:'Segoe UI',Tahoma,Verdana,Arial,sans-serif;font-size:14px;color:#2a2a2a"
            >
              Best regards,
            </td>
          </tr>
          <tr>
            <td
              style="padding:0;font-family:'Segoe UI',Tahoma,Verdana,Arial,sans-serif;font-size:14px;color:#2a2a2a"
            >
              Your ToolBox Team
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>