<html lang='en'>
  <head>
    <meta charset='UTF-8' />
  </head>
  <body>
    <div>
      <table dir='ltr'>
        <tbody>
          <tr>
            <td
              style="padding:0;font-family:'Segoe UI Semibold','Segoe UI Bold','Segoe UI','Helvetica Neue Medium',Arial,sans-serif;font-size:17px;color:#707070"
            >
              ToolBox Account
            </td>
          </tr>
          <tr>
            <td
              style="padding:0;font-family:'Segoe UI Light','Segoe UI','Helvetica Neue Medium',Arial,sans-serif;font-size:41px;color:#2672ec"
            >
              Password Reset Code
            </td>
          </tr>
          <tr>
            <td
              style="padding:0;padding-top:25px;font-family:'Segoe UI',Tahoma,Verdana,Arial,sans-serif;font-size:14px;color:#2a2a2a"
            >
              Hello
              {{name}}, to reset your password for the account
              <span style='color:#2672ec;text-decoration:none'>
                {{email}}
              </span>, please follow code below.
              <br />
              If you did not request a password reset, you can ignore this
              email.
            </td>
          </tr>
          <tr>
            <td
              style="padding:0;padding-top:25px;font-family:'Segoe UI',Tahoma,Verdana,Arial,sans-serif;font-size:14px;color:#2a2a2a"
            >
              Use the following code to reset your password:
              <span
                style="font-family:'Segoe UI Bold','Segoe UI Semibold','Segoe UI','Helvetica Neue Medium',Arial,sans-serif;font-size:14px;font-weight:bold;color:#2a2a2a"
              >
                {{code}}
              </span>
            </td>
          </tr>
          <tr>
            <td
              style="padding:0;padding-top:25px;font-family:'Segoe UI',Tahoma,Verdana,Arial,sans-serif;font-size:14px;color:#2a2a2a"
            >
              Best regards,
            </td>
          </tr>
          <tr>
            <td
              style="padding:0;font-family:'Segoe UI',Tahoma,Verdana,Arial,sans-serif;font-size:14px;color:#2a2a2a"
            >
              Your ToolBox Team
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>