@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  scroll-behavior: smooth;
}

.bg-image {
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("/images/background.jpg");
  height: 100%;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
}
